<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>todoMarkdown.pkg</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>10B733DE91111FF9BABEC6339BDC2D54260584D4</string>
				<key>dateExpires</key>
				<string>2026/12/19</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>com.apple.application-identifier</key>
				<string>9A5H32LZA5.vip.ceee.todoMarkdown</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.vip.ceee.todoMarkdown</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>9A5H32LZA5</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array>
					<string>iCloud.vip.ceee.todoMarkdown</string>
				</array>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>9A5H32LZA5.vip.ceee.todoMarkdown</string>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-write</key>
				<true/>
			</dict>
			<key>name</key>
			<string>todoMarkdown.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>43f11e30-6cb5-44db-bb9d-0c3005c5ae80</string>
				<key>dateExpires</key>
				<string>2027/5/1</string>
				<key>name</key>
				<string>Mac Team Store Provisioning Profile: vip.ceee.todoMarkdown</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9A5H32LZA5</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
